<div class="container  text-center" style="padding-top: 10px;">
    <h3>MAKE YOUR CV GITHUB</h3>

    <div class="row">
        <div class="card container col-6">
            <h3>Consult user</h3>
            <hr>
            <form class="card-block" (ngSubmit)="consultProfile()" #formulario="ngForm">
                <div class="form-group">
                    <input class="form-control" id="name" type="text" [(ngModel)]="name" name="name" placeholder="Type a user name...">
                </div>
                <button class="btn btn-primary btn-lg page-scroll" type="submit">Consult User</button>
            </form>
            <br>
        </div>
    </div>

    <br><br>

    <div class="container" *ngIf="owner">
        <!-- PROFILE -->
        <div class="col-12 col-md-12 text-center">
            <div class="row">
                <div class="col-6 col-md-3">
                    <figure>
                        <img src="{{owner.avatar_url}}" class="img-fluid img-thumbnail avatar_profile" alt="{{owner.name}}">
                    </figure>
                </div>

                <div class="col-6 col-md-3 text-left">
                    <p>
                        <strong>Name:</strong> {{owner.name}}<br>
                        <strong>Login:</strong> {{owner.login}}<br>
                        <strong>URL Profile:</strong> <a href="{{owner.html_url}}" target="_blank">{{owner.html_url}}</a> <br>
                        <strong>URL Gists:</strong> <a href="{{owner.gists_url}}" target="_blank">{{owner.gists_url}}</a> <br>
                    </p>
                </div>

                <div class="col-6 col-md-3 text-left">
                    <p *ngIf="owner.bio">
                        <strong>Bio:</strong>
                        {{owner.bio}}
                    </p>
                    <p *ngIf="!owner.bio">
                        <strong>Bio:</strong>
                        No bio!
                    </p>
                </div>

                <div class="col-6 col-md-3 text-left">
                    <p>
                        <strong>Total Follwers:</strong> {{owner.totalFollwers}}<br>
                        <strong>Total Follwing:</strong> {{owner.totalFollwing}}<br>
                    </p>

                    <form class="card-block" (ngSubmit)="buildCV()">
                        <button class="btn btn-primary btn-lg page-scroll" type="submit">Generate PDF</button>
                    </form>
                </div>
            </div>            
        </div>

        <hr>

        <!-- REPOSITORIES -->
        <div class="col-12 col-md-12">
            <div class="text-center">
                <h3 class="text-center">Repositories</h3>
                <strong class="text-center">Total repositories:</strong> {{owner.totalRepositories}}
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"><strong>Name</strong></th>
                        <th scope="col"><strong>Language</strong></th>
                        <th scope="col"><strong>URL</strong></th>
                    </tr>
                </thead>

                <tbody>
                    <tr [ngStyle]="{'cursor': 'pointer'}" *ngFor="let repo of owner.repositories, let i = index">
                        <th scope="row"></th>
                        <td>{{repo.name}}</td>
                        <td>{{repo.language}}</td>
                        <td><a href="{{repo.url}}" target="_blank">{{repo.url}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" *ngIf="errorGithub">
        <div class="container col-12 col-md-9 text-center">
            <h3 class="msg-user-not-found">User wasn't found!</h3>
        </div>
    </div>
</div>